modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 19700
externalPort = 3001

[[ports]]
localPort = 22220
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
INSFORGE_BASE_URL = "https://7mr7cxjn.ap-southeast.insforge.app"
INSFORGE_API_KEY = "ik_16fd700e7b1189aa5caf89a3ffeba196"
INSFORGE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3OC0xMjM0LTU2NzgtOTBhYi1jZGVmMTIzNDU2NzgiLCJlbWFpbCI6ImFub25AaW5zZm9yZ2UuY29tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3MTE4MTB9.xFtFkmmCVBusQpS6c_m2wvtminbSQf-UgZ3lKKWZlHQ"
